<a href="https://colab.research.google.com/github/ShaldonS/Machine-Learning-Course/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Загрузка библиотек

In [1]:
import numpy as np              # Одномерные и многомерные массивы (array)
import pandas as pd             # Таблицы и временные ряды (dataframe, series)
import matplotlib.pyplot as plt # Научная графика
import seaborn as sns           # Еще больше красивой графики для визуализации данных

# Загрузка данных

In [11]:
#data_raw = pd.read_csv('/kaggle/input/airplane-crashes-since-1908/Airplane_Crashes_and_Fatalities_Since_1908.csv')
data_raw = pd.read_csv("https://raw.githubusercontent.com/ShaldonS/Machine-Learning-Course/main/Airplane_Crashes.csv")
#from google.colab import files
#uploaded = files.upload()

In [ ]:
import io
data_raw = pd.read_csv(io.BytesIO(uploaded['Airplane_Crashes.csv']))

In [12]:
data_raw.shape

(5268, 13)

In [13]:
data_raw

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [14]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5268 non-null   object
 1   Time          3049 non-null   object
 2   Location      5248 non-null   object
 3   Operator      5250 non-null   object
 4   Flight #      1069 non-null   object
 5   Route         3562 non-null   object
 6   Type          5241 non-null   object
 7   Registration  4933 non-null   object
 8   cn/In         4040 non-null   object
 9   Aboard        5246 non-null   float64
 10  Fatalities    5256 non-null   float64
 11  Ground        5246 non-null   float64
 12  Summary       4878 non-null   object
dtypes: float64(3), object(10)
memory usage: 535.2+ KB

#О датасете

**Описание:** Полная история авиакатастроф по всему миру, с 1908 года по настоящее время.

**Колонки:**
- `Date` - дата крушения
- `Time` - время
- `Location` - место
- `Operator` - оператор
- `Flight`
- `Route` - маршрут	
- `Type`- 	тип самолета
- `Registration`- номер регистрации	
- `cn/In`
- `Aboard` - число людей на борту	
- `Fatalities` - смертельные случаи
- `Ground` - 	призмелился или нет
- `Summary` - общее описание

In [ ]:
data_raw.columns

Index(['Date', 'Time', 'Location', 'Operator', 'Flight #', 'Route', 'Type',
       'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary'],
      dtype='object')

In [ ]:
data_raw.index

RangeIndex(start=0, stop=5268, step=1)

In [ ]:
data_raw['Location']

0                                     Fort Myer, Virginia
1                                 AtlantiCity, New Jersey
2                      Victoria, British Columbia, Canada
3                                      Over the North Sea
4                              Near Johannisthal, Germany
                              ...
5263                               Near Madiun, Indonesia
5264                    Near Isiro, DemocratiRepubliCongo
5265    AtlantiOcean, 570 miles northeast of Natal, Br...
5266         Near Port Hope Simpson, Newfoundland, Canada
5267                    State of Arunachal Pradesh, India
Name: Location, Length: 5268, dtype: object

In [ ]:
data_raw['Location'] = data_raw['Location'].astype('category')

In [ ]:
data_raw['Location'].dtype

CategoricalDtype(categories=['1,200 miles off Dakar, AtlantiOcean',
                  '100 miles SW of Kuujjuaq, Quebec, Canada',
                  '110 miles SW of Sochi, Russia',
                  '200 miles NE of Derby, Australia',
                  '25 nm off Agrigento, Italy',
                  '300 nm NW of San Francisco, California',
                  '900 miles E of Honolulu, Hawaii, PacifiOcean',
                  '950 nm S of  Shemya, Alaska', 'Abakan, Siberia, Russia',
                  'Aberdeen, South Dakota',
                  ...
                  'Zavnah, Mongolia', 'Zawoja, Poland',
                  'Zeleznogorsk, Russian', 'Zephyr Cove, Nevada',
                  'Zeya, Russia', 'Zheng Zou AB, China', 'Zifta, Egypt',
                  'Zurich, Switzerland', 'Zwingle, Iowa',
                  'near Orillia, Ontario, Canada'],
, ordered=False)

In [ ]:
data_raw.describe()

            Aboard   Fatalities       Ground
count  5246.000000  5256.000000  5246.000000
mean     27.554518    20.068303     1.608845
std      43.076711    33.199952    53.987827
min       0.000000     0.000000     0.000000
25%       5.000000     3.000000     0.000000
50%      13.000000     9.000000     0.000000
75%      30.000000    23.000000     0.000000
max     644.000000   583.000000  2750.000000

In [15]:
data_raw.isnull().sum()

Date               0
Time            2219
Location          20
Operator          18
Flight #        4199
Route           1706
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

Видим, что колонка Flight содержит много пустых значений - избавимся от нее.

In [16]:
data_raw = data_raw.drop(columns='Flight #')

In [17]:
data_raw.isnull().sum()

Date               0
Time            2219
Location          20
Operator          18
Route           1706
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [19]:
data_raw['Ground'].value_counts()

0.0       5027
1.0         53
2.0         27
3.0         21
4.0         15
5.0         10
8.0         10
7.0          8
11.0         6
6.0          6
22.0         5
13.0         4
24.0         3
10.0         3
44.0         3
20.0         3
14.0         2
2750.0       2
30.0         2
12.0         2
19.0         2
47.0         2
52.0         2
70.0         2
54.0         1
18.0         1
45.0         1
16.0         1
35.0         1
50.0         1
23.0         1
225.0        1
125.0        1
75.0         1
15.0         1
32.0         1
49.0         1
9.0          1
40.0         1
36.0         1
113.0        1
107.0        1
33.0         1
87.0         1
31.0         1
63.0         1
17.0         1
37.0         1
58.0         1
85.0         1
Name: Ground, dtype: int64

Можем заметить, что некоторые самолеты приземлялись более 1 раза

In [20]:
data_raw.describe().T

             count       mean        std  min  25%   50%   75%     max
Aboard      5246.0  27.554518  43.076711  0.0  5.0  13.0  30.0   644.0
Fatalities  5256.0  20.068303  33.199952  0.0  3.0   9.0  23.0   583.0
Ground      5246.0   1.608845  53.987827  0.0  0.0   0.0   0.0  2750.0